@import './mixin';
@import './vars';
@import './reset';


body{
    color: $main-color;
    background-color: $background-color;
    .header{
        padding: 40px 0px;
        @include flex(row, space-around, center, 0);
        .logo{
            &__link{
                text-decoration: none;
                color: $main-color;
                @include Merriweather(32px, 700, 40px);
            }
        }
        .nav{
            &__list{
                @include flex(row, center, center, 30px);
            }
            &__item{
                @include flex(row, center, center, 5px);
            }
            &__link{
                text-decoration: none;
                color: $nav-color;
                @include Inter(16px, 600, 24px);
            }
            &__link:hover {
                color: $main-color;
                background:#606060;
                padding: 4px 8px;
            }
        }
        .reges{
            @include flex(row, center, center, 30px);
            &-search{
                border-radius:8px;
                padding: 16px;
                border:1px solid $border-color;
            }
            &__button1{
                padding: 16px 24px 16px 24px;
                background-color: $secondary-color;
                border-radius: 6px;
                @include Inter(16px, 600, 24px);
                color: $main-color;
            }
            &__button2{
                padding: 16px 24px 16px 24px;
                @include Inter(16px, 600, 24px);
                color: $main-color;
                border: 1px solid $secondary-color;
                border-radius: 6px;
            }
        }
    }
    .main{
        .section1{
            @include flex(row, center, center, 0);
            &-wrapper{
                @include flex(column, center, flex-start, 64px);
                padding-left: 100px;
                .section1-container{
                    @include flex(column, center, flex-start, 24px);
                    &__textbox{
                        @include flex(column, center, flex-start, 24px);
                        margin-right: -400px;
                        z-index: 1;
                        &-title{
                            @include Inter(48px, 600, 56px);
                            color: $main-color;
                        }
                        &-text{
                            @include Inter(18px, 500, 26px);
                            color: $nav-color;
                            width: 71%;
                        }
                    }
                    &__buttons{
                        @include flex(row, flex-start, center, 24px);
                        &-button1{
                            @include flex(row, center, center, 10px);
                            padding: 16px 24px 16px 24px;
                            background-color: $secondary-color;
                            border-radius: 6px;
                            @include Inter(16px, 600, 24px);
                            color: $main-color;
                            &-link{
                                text-decoration: none;
                                color: $main-color;
                            }
                        }
                        &-button2{
                            padding: 16px 24px 16px 24px;
                            @include Inter(16px, 600, 24px);
                            color: $main-color;
                            border: 1px solid $secondary-color;
                            border-radius: 6px;
                        }
                    }
                }
            }
        }
        .section2{
            padding: 120px 100px;
            @include flex(column, flex-start, center, 40px);
            &__title{
                @include Inter(48px, 600, 56px);
                color: $main-color;
                text-align: center;
            }
            &-nav{
                &__list{
                    @include flex(row, center, center, 60px);

                }
                &__item{
                    @include flex(row, center, center, 5px);
                }
                &__link{
                    text-decoration: none;
                    color: $nav-color;
                    @include Inter(16px, 600, 24px);

                }
                &__link:hover {
                    color: $main-color;
                    background:#606060;
                    padding: 16px 64px;;
                }
            }
            &-container{
                @include flex(column, center, center, 56px);
                .section2-box1{
                    @include flex(row, center, flex-start, 56px);
                }
                .section2-card{
                    width: 42%;
                    @include flex(column, center, center, 56px);
                    &__textbox{
                        @include flex(column, center, center, 24px);
                        &-title{
                            @include Inter(32px, 600, 40px);
                            text-align: center;
                        }
                        &-text{
                            @include Inter(18px, 500, 26px);
                            color: $nav-color;
                            text-align: center;
                            
                        }
                    }
                    &__buttons{
                        @include flex(row, center, center, 10px);
                        &-button1{
                            @include flex(row, center, center, 10px);
                            padding: 16px 24px 16px 24px;
                            background-color: $secondary-color;
                            border-radius: 6px;
                            @include Inter(16px, 600, 24px);
                            color: $main-color;
                            &-link{
                            text-decoration: none;
                            color: $main-color;
                         }
                    }
                        &-button2{
                            padding: 16px 24px 16px 24px;
                            @include Inter(16px, 600, 24px);
                            color: $main-color;
                            border: 1px solid $secondary-color;
                            border-radius: 6px;
                        }
                    }
                    &__textbox{
                        @include flex(column, center, center, 24px);
                        &-title{
                            @include Inter(32px, 600, 40px);
                            text-align: center;
                        }
                        &-text{
                            @include Inter(18px, 500, 26px);
                            color: $nav-color;
                            text-align: center;
                            
                        }
                    }
                    &__buttons{
                        @include flex(row, center, center, 10px);
                        &-button1{
                            @include flex(row, center, center, 10px);
                            padding: 16px 24px 16px 24px;
                            background-color: $secondary-color;
                            border-radius: 6px;
                            @include Inter(16px, 600, 24px);
                            color: $main-color;
                            &-link{
                            text-decoration: none;
                            color: $main-color;
                         }
                    }
                        &-button2{
                            padding: 16px 24px 16px 24px;
                            @include Inter(16px, 600, 24px);
                            color: $main-color;
                            border: 1px solid $secondary-color;
                            border-radius: 6px;
                        }
                    }
                }
                .section2-box2{
                    @include flex(row, center, flex-start, 56px);
                }
            }
        }
        .section3{
            margin-top: 250px;
            @include flex(column, center, center, 64px);
            &-container1{
                @include flex(row, center, flex-start, 56px);
                &__title{
                    @include Inter(48px, 600, 56px);
                    color: $main-color;
                }
                &__box{
                    @include flex(column, center, flex-start, 24px);
                    &-text{
                        @include Inter(18px, 500, 26px);
                        color: $nav-color;
                        width: 78%;
                    }
                    &-button{
                        padding: 16px 24px 16px 24px;
                        background-color: $secondary-color;
                        @include Inter(16px, 600, 24px);
                        color: $main-color;
                        border-radius: 6px;
                    }
                }
            }
            &-container2{
                @include flex(row, center, center, 56px);
                &__box{
                    @include flex(column, center, flex-start, 24px);
                    .section3-container2__textbox{
                        @include flex(column, center, flex-start, 24px);
                        &-text1{
                            @include Inter(32px, 600, 40px);
                            color: $main-color;
                            width: 78%;
                        }
                        &-text2{
                            @include Inter(18px, 500, 26px);
                            color: $nav-color;
                            width: 97%;
                        }
                    }
                    .section3-container2__button{
                        @include flex(row, center, center, 10px);
                        padding: 16px 24px 16px 24px;
                        background-color: $secondary-bg-color;
                        @include Inter(16px, 600, 24px);
                        color: $main-color;
                        border-radius: 6px;
                    }
                }

            }
            &-container3{
                @include flex(row, center, center, 56px);
                &__card{
                    @include flex(column, center, flex-start, 24px);
                    width: 50%;
                    .section3-container3__text{
                        @include Inter(18px, 500, 26px);
                        color: $main-color;
                        width: 85%;
                    }
                }
            }
        }
        .section4{
            margin-top: 250px;
            @include flex(row, center, center, 64px);
            .section4-box{
                &__textbox{
                    @include flex(column, center, flex-start, 24px);
                    &-title{
                        @include Inter(48px, 600, 56px);
                        color: $main-color;
                        width:71%;
                    }
                    &-text{
                        @include Inter(18px, 500, 26px);
                        color: $nav-color;
                        width: 91%;
                    }

                }
            }
            .section4-box1{
                @include flex(column, center, center, 48px);
                background-color: $secondary-bg-color;
                border-radius: 8px;
                padding: 24px;
                &__card{
                    @include flex(row, center, center, 24px);
                    &-textbox{
                        @include flex(column, center, flex-start, 24px);
                        &-title{
                            @include Inter(24px, 600, 32px);
                            color: $main-color;
                        }
                        &-text{
                            @include Inter(18px, 500, 26px);
                            color: $nav-color;
                        }
                    }
                }
            }
        }
        .section5{
            padding-top: 250px;
            padding-bottom: 120px;
            @include flex(column, center, center, 40px);
            background-image: url(../image/png/space-back.png);
            background-repeat: no-repeat;
            background-size: cover;
            &-container{
                @include flex(column, center, center, 40px);
                &__textbox{
                    @include flex(column, center, center, 24px);
                    &-title{
                        @include Inter(48px, 600, 56px);
                        color: $main-color;
                        text-align: center;
                        width: 61%;
                    }
                    &-text{
                        @include Inter(18px, 500, 26px);
                        color: $nav-color;
                        text-align: center;
                        width: 51%;
                    }
                }

                &__buttons{
                    @include flex(row, center, center, 8px);
                    &-inp{
                        padding: 16px 24px 16px 24px;
                        background-color: $border-color;
                        border: 1px solid rgb(56, 56, 56);
                        border-radius: 6px;
                        @include Inter(16px, 500, 24px);
                        color: $main-color;
                    }
                    &-btn{
                        @include flex(row, center, center, 10px);
                        padding: 16px 24px 16px 24px;
                        background-color: $secondary-color;
                        border-radius: 6px;
                        @include Inter(16px, 600, 24px);
                        color: $main-color;
                    }
                }
            }
        }
    }
}
