@import './mixin';
@import './vars';
@import './reset';


body{
    color: $main-color;
    background-color: $background-color;
    .header{
        padding: 40px 0px;
        @include flex(row, space-around, center, 0);
        .nav{
            &__list{
                @include flex(row, center, center, 30px);
            }
            &__item{
                @include flex(row, center, center, 5px);
            }
            &__link{
                text-decoration: none;
                color: $nav-color;
                @include Inter(16px, 600, 24px);
            }
            &__link:hover {
                color: $main-color;
                background:#606060;
                padding: 4px 8px;
            }
        }
        .reges{
            @include flex(row, center, center, 30px);
            &-search{
                border-radius:8px;
                padding: 16px;
                border:1px solid $border-color;
            }
            &__button1{
                padding: 16px 24px 16px 24px;
                background-color: $secondary-color;
                border-radius: 6px;
                @include Inter(16px, 600, 24px);
                &-link{
                    text-decoration: none;
                    color: $main-color;
                    @include Inter(16px, 600, 24px);
                }
            }
            &__button2{
                padding: 16px 24px 16px 24px;
                border: 1px solid $secondary-color;
                border-radius: 6px;
                &-link {
                    text-decoration: none;
                    color: $main-color;
                    @include Inter(16px, 600, 24px);
                }
            }
        }
        &__burger {
            display: none;
        }
    }
    .logo{
        &__link{
            text-decoration: none;
            color: $main-color;
            @include Merriweather(32px, 700, 40px);
        }
    }
    .main{
        .section1{
            @include flex(column, center, center, 56px);
            &-container{
                @include flex(column, center, center, 56px);
                &__textbox{
                    @include flex(column, center, center, 56px);
                    &-title{
                        @include Inter(48px, 600, 56px);
                    }
                    &-text{
                        @include Inter(18px, 500, 26px);
                        width: 62%;
                        color: $nav-color;
                        text-align: center
                    }
                }
                &__buttons{
                    @include flex(row, center, center, 8px);
                    &-button1{
                        @include flex(row, center, center, 10px);
                        padding: 16px 24px 16px 24px;
                        background-color: $secondary-color;
                        border-radius: 6px;
                        &-link{
                            text-decoration: none;
                            color: $main-color;
                            @include Inter(16px, 600, 24px);
                        }
                    }
                    &-button2{
                        padding: 16px 24px 16px 24px;
                        border-radius: 6px;
                        background-color: $secondary-bg-color;
                        &-link{
                            text-decoration: none;
                            color: $main-color;
                            @include Inter(16px, 600, 24px);
                        }
                    }

                }
            }
            &-container1{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 56px;
                .section1-box{
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    border: 2px solid $border-color;
                    border-radius: 12px;
                    padding: 24px;
                    &__titlecheck{
                        @include flex(row, space-between, center, 16px);
                        &-title{
                            @include Inter(24px, 600, 32px);
                        }
                    }
                    &__textbox{
                        @include flex(column, center, flex-start, 12px);
                        &-text1{
                            @include Inter(40px, 600, 48px);
                            &-span{
                                @include Inter(18px, 500, 26px);
                            }
                        }

                        &-text2{
                            @include Inter(18px, 500, 26px);
                            color: $nav-color;
                        }
                    }
                }
            }
        }
        .section2{
            margin-top: 250px;
            @include flex(row, center, center, 64px);
            &-box{
                @include flex(column, center, center, 56px);
                &__textbox{
                    @include flex(column, center, flex-start, 24px);
                    &-title{
                        @include Inter(48px, 600, 56px);
                        color: $main-color;
                        width:88%;
                    }
                    &-text{
                        @include Inter(18px, 500, 26px);
                        color: $nav-color;
                        width: 91%;
                    }

                }
                &__container{
                    @include flex (column, center, center, 56px);
                    background-image: url(../image/png/Contact.png);
                    padding: 20px 0px;
                    background-repeat: no-repeat;
                    background-size: cover;
                   &-textbox{
                       @include flex(column, center, center, 24px);
                    &-text{
                        @include Inter(24px, 600, 32px);
                        color: $main-color;
                        width: 58%;
                    }
                    &-text1{
                        @include Inter(18px, 500, 26px);
                        color: $nav-color;
                        width: 75%;
                        text-align: center;
                    }
                   }
                    &-btn{
                        padding: 16px 24px 16px 24px;
                        background-color: $secondary-color;
                        @include Inter(16px, 600, 24px);
                        color: $main-color;
                        border-radius: 6px;
                    }
                }
            }
            .section2-box1{
                @include flex(column, center, center, 48px);
                background-color: $secondary-bg-color;
                border-radius: 8px;
                padding: 24px;
                &__card{
                    @include flex(row, center, center, 24px);
                    &-textbox{
                        @include flex(column, center, flex-start, 24px);
                        &-title{
                            @include Inter(24px, 600, 32px);
                            color: $main-color;
                        }
                        &-text{
                            @include Inter(18px, 500, 26px);
                            color: $nav-color;
                        }
                    }
                }
            }
        }
        .section3{
            padding-top: 250px;
            padding-bottom: 120px;
            @include flex(column, center, center, 40px);
            background-image: url(../image/png/space-back.png);
            background-repeat: no-repeat;
            background-size: cover;
            &-container{
                @include flex(column, center, center, 40px);
                &__textbox{
                    @include flex(column, center, center, 24px);
                    &-title{
                        @include Inter(48px, 600, 56px);
                        color: $main-color;
                        text-align: center;
                        width: 61%;
                    }
                    &-text{
                        @include Inter(18px, 500, 26px);
                        color: $nav-color;
                        text-align: center;
                        width: 51%;
                    }
                }

                &__buttons{
                    @include flex(row, center, center, 8px);
                    &-inp{
                        padding: 16px 24px 16px 24px;
                        background-color: $border-color;
                        border: 1px solid rgb(56, 56, 56);
                        border-radius: 6px;
                        @include Inter(16px, 500, 24px);
                        color: $main-color;
                    }
                    &-btn{
                        @include flex(row, center, center, 10px);
                        padding: 16px 24px 16px 24px;
                        background-color: $secondary-color;
                        border-radius: 6px;
                        @include Inter(16px, 600, 24px);
                        color: $main-color;
                    }
                }
            }
        }
    }
    .footer{
        padding: 100px;
        @include flex(column, center, center, 56px);
        &-container{
            @include flex(row, center, center, 56px);
            .footer-box{
                width: 44%;
                @include flex(column, center, flex-start, 24px);
                &__text{
                    @include Inter(18px, 500, 26px);
                    color: $nav-color;
                    width: 87%;
                }
            }
            .footer-box1{
                @include flex(row, center, flex-start, 24px);
                &__list{
                    @include flex(column, center, flex-start, 24px);
                    &-item{
                        @include Inter(18px, 500, 26px);
                    }
                    &-link{
                        text-decoration: none;
                        color: $main-color;
                    }
                }
            }
            .footer-box2{
                @include flex(column, center, center, 16px);
                &__text{
                    @include Inter(18px, 600, 26px);
                    color: $main-color;
                }
                &__socials{
                    @include flex(row, center, center, 16px);
                    &-link{
                        text-decoration: none;
                    }
                }
            }
        }
        &-container1{
            @include flex(row, space-between, center, 56px);
            width: 100%;
            padding-top: 32px;
            border-top: 1px solid $border-color;
            &__text{
                @include Inter(18px, 500, 26px);
                color: $nav-color;
            }
            &__textbox{
                @include flex(row, center, center, 10px);
                &-text1{
                    @include Inter(18px, 500, 26px);
                    color: $nav-color;;
                }
                &-text2{
                    @include Inter(18px, 500, 26px);
                    color: $nav-color;
                }
            }
        }
    }
}

@media screen and (max-width: 375px){
    body{
        .header {
            .nav {
                display: none;
            }
            .reges {
                display: none;
            }
            &__burger {
                display: block;
            }
        }
        .main {
            .section1 {
                @include flex(column, center, center, 32px);
                &-container {
                    @include flex(column, center, center, 32px);
                    &__textbox {
                        @include flex(column, center, center, 24px);
                        &-title {
                            @include Inter(24px, 600, 32px);
                            text-align: center;
                            width: 100%;
                        }
                        &-text {
                            @include Inter(14px, 500, 20px);
                            text-align: center;
                            width: 96%;
                        }
                    }
                    &__buttons {
                        @include flex(column, center, center, 16px);
                        width: 100%;
                        &-button1{
                            width: 100%;
                        }
                        &-button2{
                            width: 100%;
                        }
                    }
                }
                &-container1 {
                    @include flex(column, center, center, 32px);
                    .section1-box {
                        &__titlecheck {
                            @include flex(row, space-between, center, 16px);
                            &-title {
                                @include Inter(22px, 600, 32px);
                                width: 100%;
                            }
                        }
                        &__textbox {
                            @include flex(column, center, flex-start, 24px);
                            &-title {
                                @include Inter(18px, 600, 26px);
                                text-align: center;
                                width: 100%;
                            }
                            &-text {
                                @include Inter(24px, 600, 32px);
                                text-align: center;
                                width: 96%;
                                &-span {
                                    @include Inter(14px, 500, 20px);
                                }
                            }
                        }
                    }
                }
            }
            .section2{
                padding: 40px 0px;
                @include flex(column, center, center, 40px);
                margin-top: 0px;
                &-box{
                    @include flex(column, center, center, 56px);
                    &__textbox{
                        @include flex(column, center, center, 24px);
                        &-title{
                            @include Inter(24px, 600, 32px);
                            width: 100%;
                        }
                        &-text{
                            @include Inter(14px, 500, 20px);
                            width: 100%;
                        }
                    }
                    .section2-box__container{
                        @include flex(column, center, center, 24px);
                        &-textbox{
                            @include flex(column, center, center, 24px);
                            &-text{
                                @include Inter(18px, 600, 26px);
                                width: 100%;
                                text-align: center
                            }
                            &-text1{
                                @include Inter(14px, 500, 20px);
                                width: 90%;
                            }
                        }
                        &-btn{
                            padding: 12px 16px 12px 16px;
                            width: 100%;
                        }
                    }
                }
                &-box1{
                    @include flex(column, center, center, 56px);
                    &__card{
                        @include flex(column, center, flex-start, 24px);
                        &-textbox{
                            @include flex(column, center, center, 24px);
                            &-title{
                                @include Inter(18px, 600, 26px);
                                color: $main-color;
                            }
                            &-text{
                                @include Inter(14px, 500, 20px);
                                color: $nav-color;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .section3{
                margin-top: -100px;
                @include flex(column, center, center, 40px);
                &-container{
                    @include flex(column, center, center, 56px);
                    &__textbox{
                        @include flex(column, center, center, 24px);
                        &-title{
                            @include Inter(24px, 600, 32px);
                            width: 71%;
                        }
                        &-text{
                            @include Inter(14px, 500, 20px);
                            width: 96%;
                        }
                    }
                    &__buttons{
                        @include flex(column, center, center, 24px);
                        width: 100%;
                        &-inp{
                            padding: 12px 16px 12px 16px;
                            background-color: $border-color;
                            border: 1px solid rgb(56, 56, 56);
                            border-radius: 6px;
                            @include Inter(16px, 500, 24px);
                            color: $main-color;
                            width: 100%;
                        }
                        &-btn{
                            padding: 12px 16px 12px 16px;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .footer{
            margin-top: 0px;
            padding: 40px 24px;
            @include flex(column, center, center, 40px);
            &-container{
                @include flex(column, center, flex-start, 56px);
                .footer-box {
                    width: 100%;
                    &__text {
                        width: 100%;
                    }
                }
                .footer-box1 {
                    flex-direction: column;
                }
            }
            &-container1{
                @include flex(column, center, center, 56px);
                &__text{
                    @include Inter(14px, 500, 20px);
                    color: $nav-color;
                }
                &__textbox{
                    @include flex(row, center, center, 24px);
                    &-text1{
                        @include Inter(14px, 500, 20px);
                        color: $nav-color;
                    }
                    &-text2{
                        @include Inter(14px, 500, 20px);
                        color: $nav-color;
                    }
                }
            }
        }
    } 
 }



